<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="profile-top col-md-12">
              <!-- Profile imported via app.js -->
            </div>
          </div>
          <div class="routes row">
            <div class="col-md-12">
              <h4><a href="/api">Read My API Documentation</a></h4>
              <form>
                <select class="method" name="method">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="DELETE">DELETE</option>
                </select>
                <label>Optional ID</label><input class="inputID" type="text"></input>
                <input type="submit"></input>
                <div class="show-fields">
                  <div class="row">
                    <div class="col-md-2"><label>Title</label></div><div class='col-md-4'><input type="text" name="title"></input></div>
                    <div class="col-md-2"><label>Cast</label></div><div class='col-md-4'><input type="text" name="cast"></input></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"><label>Creators</label></div><div class="col-md-4"><input type="text" name="creators"></input></div>
                    <div class="col-md-2"><label>Desciption</label></div><div class="col-md-4"><input type="text" name="description"></input></div>
                    <div class="col-md-2"><label>Seasons</label></div><div class="col-md-4"><input type="text" name="seasons"></input></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="shows col-md-12">
              <h2>My Shows to Watch</h2>
              <div class='import-shows'>
              <!-- Shows imported via app.js -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
